.squareButton {
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid #ad02e0;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 29px;
    margin-left: 52px;

    &.checked {
        background-color: #ad02e0;
    }

    &:hover {
        background-color: #ad02e0;
    }
}

.checkmark {
    width: 30px;
    height: 30px;
}

.text {
    margin-left: 8px;
    font-family: "Montserrat";
    font-size: 24px;
    line-height: 35px;
    margin-top: 29.5px;
    margin-left: 15px;
}
